/* TWEET STREAM */
.tweetStreamBox { }

.tweetStreamHeader {
  margin-bottom: 16px;
  border-bottom: 2px solid #2f2020;
}
.tweetStreamHeader .tweetStreamSign {
  padding-top: 10px;
}

.tweetList{ }

.tweetListItem {
  margin-bottom: 6px;
  padding: 4px 4px 4px 4px;
  border-radius: 8px;
  border: 2px solid #ddd;
}
.tweetListItem .row {
  margin: 0px;
}

.tweetListTweet .tweetAccountImg {
  float: left;
  padding-right: 8px;
}
.tweetListTweet .tweetSignImg {
  float: right;
}
.tweetListTweet .tweetHandle {
  font-weight: bold;
}
.tweetListTweet .tweetTimeDelta {
  font-size: 14px;
  color: #777;
}

.tweetListAd img {
  display: block;
  margin: auto;
}

.tweetList-enter {
  opacity: 0.01;
}
.tweetList-enter.tweetList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.tweetList-leave {
  opacity: 1;
}
.tweetList-leave.tweetList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* END TWEET STREAM */
